<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>Aplikacja Sinatra</title>
  </head>
  <body>
    <h1>Aplikacja Sinatra</h1>
    <h2><%= @welcome %></h2>
    <form action="http://localhost:9292/">
        <input type="text" name="imie">
        <input type="text" name="nazwisko">
        <input type="submit" value="Send">
    </form>
  </body>
</html>